.add-cart-fix-wrapper {
  width: 100%;
  height: 150px;
  background: #134865;
  margin: 50px 0;
}
.day-choose-box,
.number-choose-box {
  position: relative;
}
.add-cart-fix-wrapper input {
  border-radius: 10px;
  height: 40px;
  text-align: center;
  font-size: 22px;
}
/* 把原本input[type=number]的上下箭頭拿掉 */
.add-cart-fix-wrapper input[type="number"]::-webkit-inner-spin-button {
  visibility: hidden;
}

.add-cart-fix-wrapper .icons {
  color: rgb(122, 122, 122);
  position: absolute;
  bottom: 20px;
  transform: translateY(50%);
}
.add-cart-fix-wrapper .calendar-icon {
  font-size: 22px;
  right: 45px;
}
.add-cart-fix-wrapper .number-icon {
  font-size: 27px;
  right: 75px;
}
.add-cart-fix-wrapper .date {
  padding-left: 8px;
  text-align: left;
  width: 170px;
}
.custom-calendar {
  overflow: hidden;
  border-radius: 10px;
  background: white;
  position: absolute;
  top: 100%;
  right: -10%;
  z-index: 999;
}
.add-cart-fix-wrapper .number {
  text-align: center;
  width: 110px;
}
.add-cart-fix-wrapper .content {
  color: white;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.add-cart-fix-wrapper .content col {
  justify-content: center;
  align-items: center;
}
