$primary: #3587b5;
$info: #ec6855;
@import "~bootstrap/scss/bootstrap";

$main-blue: #3587b5;
$main-red: #ec6855;
$main-text-darkblue: #134865;
$background-color: #fefcee;
$assist-white: #ffffff;

$font-m: 16px;
$font-l: $font-m * 1.5;
$font-xl: $font-l * 1.5;

$font-family-base: "Noto Sans Traditional Chinese", "Noto Sans"; //Hobo Std,

$border-radius-main: 30px;

$shadow: 0 0 30px rgba(19, 72, 101, 0.4);

$light: rgb(235, 235, 235);

.swal2-container {
  z-index: 300000 !important;
}

// 以上為 fantaski專題共用樣式
