// @import url(global.css);

// body {
//   height: 150vh;
//   background-color: $background-color;
// }

.container {
  max-width: 1280px;
}

.navbar {
  background-color: $main-blue;
  border-bottom: 3px solid $assist-white;
  transition: 0.2s;
  z-index: 2000;
  padding-right: 0 !important;
  height: 90px;
}
.navbar-header {
  margin-left: 10%;
  width: 86px;
  // height: 86px;
}

// Logo 切換 文字
.change-logo {
  font-family: "Hobo Std";
  color: $main-text-darkblue;
  font-size: 1.3em;
  transform: translate(-35%, 5%);
}

// 往下滑時產生白色背景
.bg-white {
  background: $assist-white;
  box-shadow: 4px 4px 6px rgba(19, 72, 101, 0.4);
}

// navbar文字顏色 & hover效果
.nav-link {
  color: $assist-white;
  font-size: 18px;
  text-decoration: none;
  // font-family: $font-family-base;
  // font-weight: 600;
  &:hover {
    color: $main-text-darkblue;
  }
}

// 點選該項目會自動產生
.nav-link.active {
  color: yellow;
  text-decoration: none;
  font-size: 18px;
  &:hover {
    color: $main-text-darkblue;
    text-decoration: none;
  }
}

// 背景為白色 => navbar文字顏色 & hover效果
nav.navbar-light .navbar-nav .nav-link {
  // color: $main-text-darkblue;
  font-size: 18px;
  &:hover {
    color: $main-text-darkblue;
  }
}
// 背景為白色 => 點選該項目會自動產生
nav.navbar-light .navbar-nav .nav-link.active {
  color: $main-red;
  &:hover {
    color: rgba(0, 0, 0, 0.5);
  }
}

// =================右邊 區域===================

// 天氣、購物車 & 會員登入 前的左線條
.left-line {
  background-color: $assist-white;
  border: 1px solid $assist-white;
  margin: 10px 20px;
  height: 60px;
}

.left-line-blue {
  background-color: $main-text-darkblue;
  border: 1px solid $main-text-darkblue;
  margin: 10px 20px;
  height: 60px;
}

// 所有icon的間距
.all-icon-nav {
  margin: 3% 7% 0 0;
}

// 天氣小圖的溫度
.warm-number {
  font-size: 20px;
  position: absolute;
  top: 25%;
}
// 天氣小圖下的地區&時間文字
.area-time {
  font-size: 12px;
  display: block;
  padding: 5px 0 0;
}

// 購物車的 圈圈數字
.shopping-cart-circle {
  width: 20px;
  height: 20px;
  background-color: $main-red;
  position: absolute;
  bottom: 10%;
  left: 50%;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $assist-white;
  // &:hover {
  //   color: $main-text-darkblue;
  // }
}

// 註冊登入的寬，沒有設定文字會跑版
// .user-login {
//   // width: 200px;
// }

//  註冊/登入的文字間距
.login {
  position: relative;
  top: 5px;
}
