//---------------購物車-------------------------------------------

// ***進度圖案文字條樣式設定
.progress_bar_bg {
  background-color: $background-color;
  width: 100vw;
  height: 210px;
  position: fixed;
  z-index: 1;
  top: 80px;
}

.progress_bar {
  position: fixed;
  left: 22%;
  z-index: 2;
  top: 120px;
}

// 企鵝--------
// @keyframes skiing {
//   0% {
//     // margin-left: 15px;
//     transform: translateX(0px);
//   }
//   100% {
//     // margin-left: 450px;
//     transform: translateX(403px);
//   }
// }
// @keyframes skiing2 {
//   0% {
//     margin-left: 450px;
//     transform: translateX(0px);
//   }
//   100% {
//     // margin-left: 875px;
//     transform: translateX(403px);
//   }
// }

.penguin {
  width: 65px;
  height: 60px;
  display: block;
  margin-left: 15px;
  transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;
}

.penguin3 {
  width: 65px;
  height: 60px;
  display: block;
  transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;
}
// forwards 的意思是讓動畫停在最後的位置
.penguinMove {
  transform: translateX(450px);
}

.penguinMove3 {
  // margin-left: 450px;
  // animation: skiing2 3s forwards;
  transform: translateX(890px);
}
.penguin img {
  width: 100%;
  height: 100%;
}
// 企鵝結束------------

.md-50 {
  font-size: 50px;
  cursor: pointer;
}
.md-blue {
  color: $main-text-darkblue;
}
.md-grey {
  color: rgb(163, 163, 163);
}
// .md-blue:hover {
//   opacity: 0.7;
// }
.number_icon {
  display: flex;
  justify-content: center;
}
.order_progress_word {
  font-size: $font-l;
  font-weight: 700;
}
.progress_button1,
.progress_button2,
.progress_button3 {
  border: 0ch;
  background-color: $background-color;
}
.progress_button2 div:hover,
.progress_button2 p:hover,
.progress_button3 div:hover,
.progress_button3 p:hover {
  color: $main-text-darkblue;
}

@keyframes progressLine {
  0% {
    width: 0%;
    background-color: rgb(163, 163, 163);
  }
  100% {
    width: 100%;
    background-color: $main-text-darkblue;
  }
}
@keyframes progressLine3 {
  0% {
    width: 0%;
    background-color: rgb(163, 163, 163);
  }
  100% {
    width: 100%;
    background-color: $main-text-darkblue;
  }
}
@keyframes progressLineBack {
  0% {
    width: 100%;
    background-color: $main-text-darkblue;
  }
  100% {
    width: 0%;
    background-color: rgb(163, 163, 163);
  }
}
.progress_line,
.progress_line3 {
  width: 15rem;
  height: 5px;
  background-color: rgb(163, 163, 163);
  margin: 30px 3rem;
}
.first_during,
.first_during3 {
  background-color: rgb(163, 163, 163);
  width: 0;
  height: 5px;
}
.first_during_move {
  animation: progressLine 1.5s forwards;
}
.first_during_move_back {
  animation: progressLineBack 1.5s forwards;
}
.first_during3_move_back {
  animation: progressLineBack 1.5s forwards;
}

// 購物車階段變換時動畫
@keyframes slit-in-vertical {
  0% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
    transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
    transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0);
    transform: translateZ(0) rotateY(0);
  }
}
.slit-in-vertical {
  animation: slit-in-vertical 0.55s;
}

// 購物車底色
.cart_content_bg {
  // width: 1400px;
  max-width: 1280px;
  height: 600px;
  background-color: $main-blue;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0px 15px 15px -15px #000;
  position: relative;
  margin-top: 17%;
}
.cart_content {
  // width: 1400px;
  max-width: 100%;
  height: 500px;
  background-color: #fff;
  position: absolute;
  top: 100px;
  border-radius: 0, 0, 20px, 20px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 8px;
  }
  //scroll background
  &::-webkit-scrollbar-track {
    // background: $assist-white;
    background: transparent;
  }
  //滑桿本身
  &::-webkit-scrollbar-thumb {
    background: $main-text-darkblue;
    border-radius: 100px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $main-blue;
  }
}
.header {
  text-align: center;
  padding: 30px 0;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

// 購物車內容

.cart_content .row {
  // width: 1400px;
  max-width: 1280px;
  border-bottom: 3px solid rgb(155, 155, 155);
  margin: 0 auto;
  display: flex;
}
.cart_content .row .col {
  text-align: center;
  justify-content: space-around;
}
.cart_content .col {
  width: 200px;
  // text-align: center;
  font-size: 20px;
  color: $main-text-darkblue;
  padding: 80px 5px;
}
.cart_image {
  margin: 10px;
  width: 160px;
  height: 200px;
  object-fit: cover;
}
.cart_image img {
  width: 90%;
  height: 100%;
}
.cart_content input {
  // width: 200px;
  width: 180px;
  border-radius: 15px;
  border: 3px solid $main-text-darkblue;
}
.cart_number {
  text-align: center;
}

// 總訂單底色
.order_content_bg {
  // width: 1400px;
  max-width: 1280px;
  height: 300px;
  background-color: $main-blue;
  margin: 30px auto;
  border-radius: 20px;
  box-shadow: 0px 15px 15px -15px #000;
  position: relative;
}
.order_content {
  // width: 1400px;
  // max-width: 1280px;
  width: 100%;
  height: 200px;
  background-color: #fff;
  position: absolute;
  top: 100px;
  border-radius: 0, 0, 20px, 20px;
}
.order_content_bg h2 {
  text-align: center;
  padding: 30px 0;
  color: #fff;
  font-weight: 600;
}

// 總訂單內容
.order_detail {
  padding: 10px 0;
}
.order_detail .col {
  height: 80px;
  // padding: 30px 0;
  align-items: center;
}
.row1 {
  // border: 1px solid black;
  color: $main-text-darkblue;
  font-size: $font-l;
  font-weight: 600;
}
.row1 input {
  outline: none;
  border: 0ch;
  width: 100px;
}
.row1 label {
  width: 180px;
}
.order_total {
  // border: 1px solid black;
  color: $main-blue;
  font-size: $font-l;
  font-weight: 600;
  padding: 60px 0;
  align-items: center;
}
.order_total label {
  width: 150px;
}
.order_total input {
  width: 100px;
  outline: none;
  border: 0ch;
  color: $main-red;
}
.point_used {
  background-color: #eee;
  border-radius: 0.25rem;
  padding: 0 5px !important;
}

// ***第二階段
// 信用卡區域設定
.credit_content_bg {
  // width: 1100px;
  width: 1280px;
  height: 500px;
  background-color: $main-blue;
  margin: 30px auto;
  border-radius: 20px;
  box-shadow: 0px 15px 15px -15px #000;
  position: relative;
  margin-top: 17%;
}
.credit_content_bg h2 {
  text-align: center;
  padding: 30px 0;
  color: #fff;
  font-weight: 600;
}
.credit_content {
  // width: 1100px;
  width: 100%;
  height: 400px;
  background-color: #fff;
  position: absolute;
  top: 100px;
  border-radius: 0, 0, 20px, 20px;
  display: flex;
}
.rccs {
  margin: auto 207px !important;
}
.rccs__card--unknown > div {
  background: #ffffff !important;
  box-shadow: 0 0 15px #a6b8bf !important;
}
.rccs__card--front,
.rccs__card--back {
  // width: 400 px !important;
  // height: 250 px !important;
  color: rgb(61, 61, 61) !important;
}
.card-input {
  width: 300px;
}

.card_input input {
  padding: 0.375rem 0.75rem;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #ced4da;
  border-radius: 0.25rem;
  transition: red 2s !important;
  margin-left: 10px;
  margin-top: 10px;
}
.card_number {
  margin-left: 29px !important;
}
.cvc {
  margin-left: 50px !important;
}

// ***第三階段
// ***最後訂單明細背景設定
.order_final_bg {
  width: 1280px;
  height: 900px;
  background-color: $main-blue;
  margin: 30px auto;
  border-radius: 20px;
  box-shadow: 0px 15px 15px -15px #000;
  position: relative;
  margin-top: 17%;
}
.order_final_bg2 {
  width: 100%;
  height: 95%;
  background-color: #fff;
  position: absolute;
  top: 100px;
  border-radius: 0, 0, 20px, 20px;
  // overflow: auto;
}
.order_final_bg h2 {
  text-align: center;
  padding: 30px 0;
  color: #fff;
  font-weight: 600;
}

// 最後訂單四行
.final_title {
  height: 60px;
  margin: 15px auto;
}
.final_title div {
  width: 180px;
  height: 60px;
  color: #fff;
  font-size: $font-l;
  background-color: $main-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.border_bottoms .col-3 {
  max-width: 15%;
}
.final_word {
  display: flex;
  align-items: center;
  color: $main-text-darkblue;
  font-size: $font-l;
}
.border-bottoms {
  border-bottom: 3px solid rgb(168, 168, 168);
}

// 中間分隔線
.middle_line {
  width: 1140px;
  height: 8px;
  background-color: $main-text-darkblue;
  margin: 40px auto;
}

// 下方最終購買明細
.final_form {
  border: 3px solid $main-text-darkblue;
  // margin: -15px 30px;
  width: 90%;
  margin: 0 auto;
  height: 350px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 8px;
  }
  //scroll background
  &::-webkit-scrollbar-track {
    // background: $assist-white;
    background: transparent;
  }
  //滑桿本身
  &::-webkit-scrollbar-thumb {
    background: $main-text-darkblue;
    border-radius: 100px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $main-blue;
  }
}
.final_table {
  width: 1135px;
}
.final_thead {
  background-color: $main-blue;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.final_thead tr {
  display: flex;
  justify-content: space-around;
}
.final_tbody {
  border-bottom: 3px solid rgb(168, 168, 168);
}
.final_tbody tr {
  display: flex;
  justify-content: space-around;
}
.final_tbody td {
  padding: 10px;
  font-size: 20px;
}
.final_tbody input {
  width: 170px;
  outline: 0ch;
  border: 0ch;
  text-align: left;
  color: $main-text-darkblue;
  font-weight: 600;
}
.type_number input {
  width: 100px;
  text-align: center;
  color: $main-text-darkblue;
  font-weight: 600;
}
.final_total {
  text-align: right;
  padding: 10px;
  font-size: $font-l;
}
.final_total input {
  width: 180px;
  outline: 0ch;
  border: 0ch;
  text-align: center;
  color: $main-red;
  font-weight: 600;
}

// ***上一步下一步按鈕
.prevstep {
  margin-right: 1rem;
  width: 8%;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 600;
  background-color: $background-color;
  color: $main-blue;
  border: 4px solid $main-blue;
}
.prevstep:hover,
.final_prev .prevstep:hover {
  background-color: $main-blue;
  color: #fff;
  border: 4px solid $main-blue;
}
.final_prev .prevstep {
  width: 15%;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 600;
  background-color: white;
  color: $main-blue;
  border: 4px solid $main-blue;
}

.nextstep {
  // margin-right: 20rem;
  margin-right: 4rem;
  width: 8%;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 600;
  background-color: $background-color;
  color: $main-red;
  border: 4px solid $main-red;
}
.order_submit_icon {
  width: 15%;
  height: 100%;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 600;
  background-color: white;
  color: $main-red;
  border: 4px solid $main-red;
}
.nextstep:hover,
.order_submit_icon:hover {
  background-color: $main-red;
  color: #fff;
  border: 4px solid $main-red;
}
