// .navbar {
//   width: 100%;
//   height: 100px;
//   background-color: $main-blue;
//   // margin-bottom: 40px;
//   position: fixed;
//   top: 0;
//   z-index: 3;
// }

//---------------商品頁面-------------------------------------------

// 背景可愛小圖
.product-ski-area {
  width: 100%;
  height: 100%;
  background: url("../../src/components/products/product_ski.png") top center
    no-repeat;
  // background-size: cover;
}

// 圖片輪播設定
.carousel {
  margin-top: 8%;
}
.image_range {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
}
.size {
  width: 100%;
  height: 100%;
  object-fit: content;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(0.7) brightness(0.5);
  padding: $font-l;
}

// 往下滑小icon設定
.scrolldown {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  background-color: transparent;
  border: transparent;
}
.scrolldown:hover {
  background-color: transparent;
  border: transparent;
}
.down_hand:hover {
  // animation: bounce;
  color: $main-red;
}

// 切換版面小icon設定
.switch_icon {
  display: flex;
  justify-content: flex-end;
  margin-right: 10rem;
}
.switch_icon Button {
  // border: 0ch;
  border: none;
  background: $main-blue;
}
.switch_icon Button:hover,
.switch_icon Button:focus {
  background-color: $main-red;
  box-shadow: none;
}

// 側邊欄設定
.side_bar {
  margin-left: 10%;
  width: 15%;
  position: relative;
  font-size: $font-m * 1.2;
  border-radius: $border-radius-main;
}
.product_word {
  color: black;
  width: 14rem;
  text-align: left;
  font-size: $font-m * 1.2;
}
.product_area:hover {
  cursor: pointer;
  background-color: $light;
}

.detail_word {
  text-align: right;
  padding-right: 40%;
  cursor: pointer;
  border-bottom: 1px solid rgb(230, 230, 230);
}
.detail_word:hover {
  background-color: $light;
}

// 分隔線
.separate {
  width: 1px;
  height: 80%;
  border-right: 3px solid rgb(121, 121, 121);
  left: 27%;
  position: absolute;
  display: inline;
}

.accordion-head {
  background: $main-blue;
  color: $assist-white;
  font-weight: 600;
  letter-spacing: 2px;
}

// 商品小標題
.product_title {
  color: $main-blue;
  height: 2.1rem;
  display: block;
  position: relative;
  border-left: 6px solid $main-blue;
  font-weight: 600;
  // padding: 3px;
}

.product-area {
  margin: 0 3%;
}

// 方格式圖片設定
.all_image_s {
  // position: absolute;
  // left: 25%;
  padding: 0;
  color: $main-text-darkblue;
}
.all_image_s li {
  display: inline-block;
  margin: 3%;
  text-align: center;
  & p:nth-child(odd) {
    color: $main-red;
  }
}
.product_image_s {
  width: 240px;
  height: 350px;
  position: relative;
}
// .product_image_s,
.product_image_jackets {
  width: 240px;
  height: 300px;
  position: relative;
}

@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.product_image_s:hover,
.product_image_jackets:hover {
  animation: pulsate-fwd 0.9s 1 alternate;
}
.collect_tag {
  font-size: 27px;
  position: absolute;
  right: 0;
  color: $main-red;
  opacity: 0.5;
  background-color: transparent;
  border: 0ch;
  margin: 0;
  padding: 0;
}
.collect_tag:hover {
  font-size: 33px;
  color: $main-red;
  opacity: 1;
}
.collect_tagged {
  color: $main-red;
  opacity: 1;
}

// 條列式圖片設定
.all_image_l {
  // position: absolute;
  // left: 22%;
  padding: 0;
  color: $main-text-darkblue;
  // height: 230vh;
  // height: 1000px;
}
.all_image_l li {
  display: flex;
  // justify-content: space-between;
  margin: 3%;
  width: 800px;
  span {
    color: $main-red;
  }
}
.product_image_l {
  width: 240px;
  height: 350px;
  position: relative;
}
// .product_image_jackets {
//   width: 240px;
//   height: 310px;
//   position: relative;
// }

.product_image_l:hover {
  animation: pulsate-fwd 0.9s 1 alternate;
}
.product_description {
  max-width: 60%;
  margin-left: 2rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  font-size: $font-m * 1.2;
}

// 加入購物車button
.cart {
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
  background-color: $background-color;
  color: $main-red;
  border: 3px solid $main-red;
  width: 150px;
  height: 45px;
  margin-top: 5px;
}
.cart Link {
  width: 150px;
  height: 45px;
}
.cart:hover,
.cart:active,
.cart:focus,
.cart:link {
  color: white;
  background-color: $main-red;
  border: 1px solid $main-red;
}
// 加入購物車動畫
@keyframes scale-out-tr {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

@keyframes magic {
  0% {
    transform: translate3d(0, 0, 0);
    transform: scale(1);
  }
  100% {
    transform: translate3d(300px, -500px, 0), scale(0);
    // transform: matrix(1.2, 0, 0, 1.2, 10, 20);
  }
}

.scale-out-tr {
  animation: scale-out-tr 0.8s;
}

// 切換頁面按鈕
.page_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page_button ul {
  padding: 0;
  list-style: none;
  display: flex;
  margin-bottom: 0;
}
.page_button li {
  font-size: $font-l;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  margin: 0 15px;
}

.page_button li:active,
.page_button div:active {
  color: white;
  background-color: $main-red;
}
.page_button div {
  font-size: $font-xl;
  color: $main-blue;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 10px;
  padding: 0 10px;
}
.page_active {
  color: white;
  background-color: $main-red;
}

.main_area {
  height: 100%;
}

.new_flyCart {
  width: 500px;
  border: 5px solid red;
}
