//引入全站都可以用的樣式
@import "../public/styles/global.scss";
@import "../public/styles/navbar.scss";
@import "../public/styles/footer.scss";
@import "../public/styles/gotop.scss";
@import "../public/styles/product.scss";
@import "../public/styles/order.scss";
@import "../public/styles/course.scss";
@import "../public/styles/member.scss";
@import "../public/styles/forum.scss";
@import "../public/styles/mountainRoute.scss";
@import "../public/styles/home.scss";
@import "../public/styles/homedotted.scss";
@import "../public/styles/login.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family-base;
  background-color: $background-color;
  font-size: $font-m;
  box-sizing: border-box;
  // font-weight: 600;
}
a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.swal2-actions button {
  margin: 0 10px;
}
