//引入全站都可以用的樣式
@import "../public/styles/global.scss";
@import "../public/styles/navbar.scss";
@import "../public/styles/footer.scss";
@import "../public/styles/gotop.scss";
@import "../public/styles/product.scss";
@import "../public/styles/order.scss";
@import "../public/styles/course.scss";
@import "../public/styles/member.scss";
@import "../public/styles/forum.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family-base;
  background-color: $background-color;
  font-size: $font-m;
  // font-weight: 600;
}
